.App {
  text-align: center;
  background-color: #19A2E6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#container{
  max-width: 660px;
  padding: 0px;
}
button{
  width: 3rem;
  height: 3rem;
  background-color: #E65D19 !important;
  border-color: #e65D19 !important;
}
#range{
  padding-left: 1rem;
  padding-right: 1rem;
}
p{
  margin: 5px !important;
}
.form-range::-webkit-slider-thumb {
  background-color:#E65D19 !important;
}
.custom-control-input {
  background-color: #E65D19;
}
.form-check-input:checked {
  background-color: #E65D19 !important;
  border-color: #E65D19 !important;
}
